/.pc
/Src6.4.5/spin
*.o
y.output
y.tab.h
/debian/debhelper-build-stamp
*.swp
/debian/.debhelper
/debian/files
/debian/spin.substvars
/debian/spin
/debian/spin.debhelper.log
/debian/spin-dbg
/debian/spin-dbg.substvars
/debian/spin-dbg.debhelper.log
/debian/tmp

